<div class="col-md-offset-3 col-centered">
   <h2 class="mt-1">
    <large><a href="/main">All</a></large>
    <large><a href="/main/sport">jack</a></large>
    <large><a href="/main/culture">is</a></large>
    <large><a href="/main/other">smart</a></large>
   </h2>
</div>
<hr>

<% if(locals.events){ %>
    <% events.forEach(function(event) { %>
        <div class="card text-white bg-info mb-3"">
            <div class="card-body">
              <h4 class="card-title"><%= event.name %></h4>
              <h6>Date: <%= event.datetime.toLocaleDateString("en-GB") %>  - Time: <%= event.datetime.toLocaleTimeString("en-GB") %></h6>
              <p class="card-text"><%= event.description %></p>
              <a href="/events/view-event/<%= event._id %>" class="card-link">See Event</a>
            </div>
        </div>
    <% }); %>
<% } %>
