<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card text-white bg-info mb-3">
        <h1 class="text-center mb-3">
          Register as an Organiser
        </h1>
        <%- include ("./partials/messages"); %>
        <form action="/users/register" method="POST">
          <div class="form-group mt-3">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Email address"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label for="phone">Phone Number</label>
            <input
              type="phone"
              id="phone"
              name="phone"
              class="form-control"
              placeholder="xxxxxxxxxxx"
              value="<%= typeof phone != 'undefined' ? phone : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary" type="button" style="background-color: #0ecf65;">Register</button>
          </div>
        </form>
        <p class="lead mt-4"><a href="/users/login">Login here</a></p>
      </div>
    </div>
  </div>
